//列表排序方式 m=md s=sm


//4欄md時改為兩欄 s時改為單欄
.list4m2s1{
    @include lists(){
        li{
            width: map-get($cols , 3 );

            @include pad(){
                width: map-get($cols , 6 );
            }
            @include mobile(){
                width: map-get($cols , 12 );
            }
        }
    }
}



.list3ms1{
    @include lists(){   
        @include pad(){
            flex-direction: column;
            align-items: center;
        }
        li{
            width: map-get($cols , 4 );
            @include pad(){
                width: map-get($cols , 6 );
            }
            @include mobile(){
                width: map-get($cols , 12 );
            }
        }
    }
}


.list3m2s1{
    @include lists(){   
        li{
            width: map-get($cols , 4 );

            @include pad(){
                width: map-get($cols , 6 );
            }
            @include mobile(){
                width: map-get($cols , 12 );
            }
        }
        
    }
}



/*----------------
    card
------------------*/

.card-shadow{
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 6px rgba($color-black , 0.16);
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
    .body{
        padding: $spacing-base * 4;
        flex-grow:1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .content h3{ 
        font-weight: map-get($font-weights , medium);
    }

    .date{
        color: rgba( $color-black , 0.44);
        font-size: map-get($font-sizes, 9);
    }
}

.card-product{
    
    cursor: pointer;
    li{
        .img{
            overflow: hidden;
            img{
                transition: 0.5s;
            }
        }
        .title{
            display: flex;
            justify-content: space-between;
            font-size: map-get($font-sizes , 7 );
            font-weight: map-get($font-weights , medium );
            color: $color-black;

            p{
                color: $color-primary;
            }
        }

        &:hover{
            img{
                transform: scale(1.1);
                transition: 0.5s;
            }
            a{  opacity: 1;}
        }

        .color{
            display: flex;
            gap:8px;
            li{
                width: 24px;
                height: 24px;
                border-radius: 4px;

                &:hover{
                    outline: 3px solid rgba($color-light , 0.8);
                    outline-offset: -3px;
                }
            }
        }
    }
}

.card-stores{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba( $color-black , 0.125);
    font-size: map-get($font-sizes , 8 );
    height: 100%;
    a{color: $color-black;}   
    &:hover{
        img{ 
            transform: scale(1.1);
            transition: 0.5s;
        }
        a{  opacity: 1;}
    }     
    .img{
        overflow: hidden;
        img{ transition: 0.5s;}
    }
        
    .title{
        padding: $spacing-base * 2 $spacing-base * 6;
        font-size: map-get($font-sizes, 7 );
        border-bottom: 1px solid rgba( $color-black , 0.125);
    }
    .body{
        display: flex;
        flex-direction: column;
        flex-grow:1;
        justify-content: space-between;
    }
    .content{
        padding: $spacing-base * 4 $spacing-base * 6;
        i{margin-right: $spacing-base * 2;}
        li{
            width: 100%;
            margin-top: $spacing-base * 2;
            &:nth-child(1){ margin-top: 0;}
        }
    }
    .btn{
        display: block;
        padding: $spacing-base * 4;
        color: $color-light;
        background: $color-black;
        text-align: center;

        &:hover{
            background: $color-secondary;
        }
    }
}

.card-blog{
    a{
        width: 100%;
        color: $color-black;
        display: flex;
        gap: $spacing-base * 6;
        @include mobile(){
            flex-direction: column;
            gap: $spacing-base * 2;

        }
        transition: 0.5s;
        &:hover{
            opacity: 0.8;
            transition: 0.5s;
            img{
                transform: scale(1.08);
                transition: 0.8s;
            }
            .more{
                text-decoration: underline; 
            }
        }

        .img{
            width: map-get($cols , 6 );
            min-height: 400px;
            overflow: hidden;
            img{ 
                transition: 0.5s;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @include pad(){
                min-height: 208px;
                
            }

            @include mobile(){
                width: map-get($cols , 12 );
            }
        }
        .body{
            width: map-get($cols , 6 );
            display: flex;
            flex-direction: column;
            flex-grow:1;
            justify-content: space-between;
            align-items: end;
            @include mobile(){
                width: map-get($cols , 12 );
                align-items: start;
            }   
        }
        .tittle{
            color: $color-secondary;
            font-size: map-get($font-sizes , 5 );
            @include pad(){
                font-size: map-get($font-sizes , 7 );
            }
        }
        .sub{
            display: flex;
            justify-content: space-between;
            .titleEn{
                font-size: map-get($font-sizes , 8 );
                font-weight: map-get($font-weights , medium );
                @include pad(){
                    font-size: map-get($font-sizes , base );
                }
            }
            .date{
                opacity: 0.7;
                font-weight: map-get($font-weights , medium );
            }
        }
        .content{
            font-size: map-get($font-sizes , 8 );
            margin-top: $spacing-base * 4;
            color: $color-gray;
            @include pad(){
                font-size: map-get($font-sizes , base );
            }
    
            @include mobile(){
                display: none;
            }
        }
    
        .more-sm{
            display: none;
            @include pad(){
                display: inline-block;
            }
        }
        .more{
            color: $color-secondary;
            font-size: map-get($font-sizes , 4 );
            font-weight: map-get($font-weights , black );
            @include pad(){
                display: none;
            }
        }
    }
    
    

    
}

