.logo{
  a{
      @include text-hiden;
      background:url(../images/logo-white.png) center center no-repeat;
      background-size: 100% auto ;
      width: 80px;
      height: 80px;
      &:hover{
        opacity: 0.9;
        transform: rotate(-15deg);
      }
  }
}

.nav {
  transition:0.5s;
  .navList{
    a{
      display: block;
      color: $color-light;
      width: 100px;
      padding-top: 28px;
      padding-bottom: 28px;
      text-align: center;

      &:hover{
        background: rgba($color-secondary, 0.5);
        opacity: 1;
        transition: 0.8s;
      }
    }
  }
}

@include mobile(){
  .nav{
    position: relative;
    height: 80px;
    transition:0.5s; 
    overflow:hidden; //沒展開時隱藏裡面的navList

    &Toggle{
      position: relative;
      width: 60px;
      height: 80px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      
      
      //漢堡icon -start
      &::before{
        content:"";
        position: absolute;
        width: 32px;
        height: 2px;
        background: $color-light;
        transform: translateY(-10px); //漢堡上面那槓
        box-shadow: 0 10px $color-light; //漢堡中間那槓
        transition: 0.5s;
      }
      &::after{
        content:"";
        position: absolute;
        width: 32px;
        height: 2px;
        background: $color-light;
        transform: translateY(10px); //漢堡下面那槓
        transition: 0.5s;
      }
      //漢堡icon -end
    }

  }
  
  /*-----------------
    active狀態下
  --------------------*/
  .nav.active{
    height:100vh; //點擊展開後的高
    transition:0.5s; 
    align-items: start;
    
    //icon點下去的效果,從漢堡變成X
    //漢堡icon -start
    .navToggle{ 
      &::before{
        transform: translateY(0px) rotate(45deg); //下降旋轉
        box-shadow: 0 0 $color-light; //跟本體(上面那槓重合)
      }
  
      &::after{
        transform: translateY(0px) rotate(-45deg); //上升 反向45度
      }
    //漢堡icon -end

  }
}
  
  .navList{
    position: absolute;
    width: 100%;
    margin-top: 80px;
    padding-top: 8px;
    height: calc(100% - 80px); //扣掉上面部分
    
    li{
      border-top: 1px solid rgba($color-light, 0.5);
      &:last-of-type{
        border-bottom: 1px solid rgba($color-light, 0.5);
      }
    }
    a{
      width: 100% !important;
    }
  }

}

//blog subNav
.subnav-hover{
  a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: $spacing-base * 3;
      height: 100%;
      transition: 0.5s;

      &:hover{
          opacity: 1;
          transition: 0.5s;
          background: rgba( $color-primary , 0.5 );
      }
  }
}

.search{
  width: 32px;
  overflow: hidden;
  display: flex;
  justify-content: end;
  transition:0.5s;
  line-height: 1;
  padding-top: $spacing-base * 2;
  padding-bottom: $spacing-base * 2;
  color: $color-light;

  form{
    display: flex;
    justify-content: end;
    width: 100%;
  }
  

  @include mobile(){ display: none;}

  .input-light{ border-right: 0;}

  &Sumit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    border: 1px solid $color-light;
    border-left: 0;
    position: relative;
    
    
    &::before{
      content:"";
      position: absolute;
      width: 16px;
      height: 16px;
      background: transparent;
      outline: 2px solid $color-light;
      transform: translateY(-2px);
      border-radius: 50%;
      transition: 0.5s;
      opacity: 0;
    }

    &::after{
      content:"";
      position: absolute;
      width: 10px;
      height: 2px;
      background: $color-light;
      transform: translateX(10px) translateY(8px) rotate(45deg);
      transition: 0.5s;
      opacity: 0;
    }

    &:hover{
      opacity: 1;
      &::before , &::after{ opacity: 0.5;}
    }
  }

  &Toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 $spacing-base * 5;
    margin-left: $spacing-base * 2;
    cursor: pointer;
    position: relative;
    &::before{
      content:"";
      position: absolute;
      width: 16px;
      height: 16px;
      background: transparent;
      outline: 2px solid $color-light;
      transform: translateY(-2px);
      border-radius: 50%;
      transition: 0.5s;
    }

    &::after{
      content:"";
      position: absolute;
      width: 10px;
      height: 2px;
      background: $color-light;
      transform: translateX(10px) translateY(8px) rotate(45deg);
      transition: 0.5s;
    }
    &:hover{
      &::before , &::after{ opacity: 0.5;}
    }
  }

}




.blogSubNav{
  @include pad(){
    .subnav ul{transition:0.8s;}
  }
  &.active{
    .search{  
      width: $col * 5;//點擊展開後的寬
      transition:0.8s;
      @include pad(){
        width: $col * 4;
        transition-delay: 0.5s;

      }
      .searchSumit{
        &::before, &::after{opacity: 1;}
      }
      .searchToggle {
        &::before{
          content:"";
          position: absolute;
          width: 30px;
          height: 0px;
          background: transparent;
          outline: 1px solid $color-light;
          transform: translateX(0) translateY(0) rotate(-45deg);
          border-radius: 0;
          transition: 0.5s;
        }
    
        &::after{
          content:"";
          position: absolute;
          width: 30px;
          height: 0px;
          background: transparent;
          transform: translateX(0) translateY(0) rotate(45deg);
          outline: 1px solid $color-light;
          transition: 0.5s;
        }
      }
    }

    @include pad(){
      .subnav{
        ul{
          transition: 0.5s;
          gap: 0;
          a{
            padding-left: $spacing-base * 1.5;
            padding-right: $spacing-base * 1.5;
            transition: 0.7s;
          }
        }
      }
    }
  }
}


