<!DOCTYPE html>
<html lang="en">
<!-- 引入head檔案 -->
<head id="head"></head>

<body>
  <!-- 引入共用header檔案 -->
  <header id="header"></header>

  <main>
  <%- contents %>
  </main>
  <!-- 引入共用footer檔案 -->
  <footer id="footer"></footer>
  
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>    
</body>

</html>

