<!DOCTYPE html>
<html lang="en">
<!-- 引入head檔案 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
    <title>
        <%- title %>｜w3-4 眼鏡電商
    </title>
    <link rel="stylesheet" href="assets/style/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="assets/font/fontawesome-pro-6.1.2-web/css/all.min.css"> -->
    <script src="https://kit.fontawesome.com/57c6a9e76f.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link rel="bookmark" href="assets/images/favicon.ico" />
</head>


<body>
    <!-- 引入共用header檔案 -->
    <header id="header"></header>

    <main>
        <!-- 產品系列選單 -->
        <nav aria-label="Products navigation" class="container py-0">
            <ul class="flex-row text-center fs-5 fs-md-7 fs-sm-base fw-mdium a-black hover-bg-secondary" style="--bw:1px; --clr:#dcdcdc;">
                <li class="flex-1 b-var" id="pOptical">
                    <a href="products_01-optical.html" title="optical系列" class="py-6">OPTICAL</a>
                </li>
                <li class="flex-1 b-var bl-0" id="pSunglasses">
                    <a href="products_02-sunglasses.html" title="SUNGLASSES系列" class="py-6">SUNGLASSES</a>
                </li>
                <li class="flex-1 b-var bl-0" id="pfunctional">
                    <a href="#" title="FUNCTIONAL系列" class="py-6">FUNCTIONAL</a>
                </li>
            </ul>
        </nav>

        <section class="flex-row">
            <div class="flex-1"><img src="assets/images/product-header-1.png" alt="optical產品情境圖01"></div>
            <div class="flex-1"><img src="assets/images/product-header-2.png" alt="optical產品情境圖02"></div>
        </section>

        <%- contents %>
    </main>
    <!-- 引入共用footer檔案 -->
    <footer id="footer"></footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>