*{
    &,&::before,&::after {
        box-sizing: border-box;
    }
    &:focus{
        outline: none;
        box-shadow: 0 0 0 2px rgba($color-light, 0.8);
    }
}


img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


body {
    font-family: "noto sans tc", system-ui, -apple-system, BlinkMacSystemFont, "segoe ui", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #000;
}


a {
    text-decoration: none;
    transition: 0.3s ease-in-out;

    &:hover {
        opacity: 0.6;
    }
}


//移除iOS原生樣式
input[type="button"], input[type="submit"], input[type="reset"],input[type=text],input[type=password]
{ -webkit-appearance: none; } 
textarea { -webkit-appearance: none;}