// .hover-underline a:hover{
//     text-decoration: underline;
// }
.hover-underline{
    a{  
        opacity: 0.9;
        position: relative;
        &::after{ @include a-underline;}  //設定下底線
        &:hover::after{@include a-underline_hover;}  //設定下底線
    }
}

.hover-scale{
    transition: 0.5s;
        &:hover{
            transform: scale(1.03);
            a{ opacity: 0.9;}
        }    
}

.hover-img-scale{
    a:hover{ opacity: 0.9;}
    .img{
        overflow: hidden;
        img{
            transition: 0.8s;
            &:hover{
                transform: scale(1.1);                
            } 
        }
    }           
}

.hover-scale-shadow{
    transition: 0.5s;
        .img{
            overflow: hidden;
            img{
                width: 100%;
                transition: 0.8s;}
        }
        &:hover{
            transform: scale(1.03);
            box-shadow: 0 0 30px rgba($color-black , 0.3);
            img{
                transform: scale(1.08);
                transition: 0.8s;
            }

            a{  opacity: 1;}
        }    
}

.btn{
    display: inline-block;
    border: 0;
    cursor: pointer;
}

@each $name, $color in $colors {
    .btn-#{$name} {
        background: $color;
        padding: $spacing-base*1.5 $spacing-base*3 ;

        &:hover{
            background: $color-secondary;
            color: $color-light;
        }
    }

    .btn-l-#{$name} {
        background: $color;
        padding: $spacing-base*4 $spacing-base*4 ;

        &:hover{
            background: $color-secondary;
            color: $color-light;
        }
    }

    .btn-outline-#{$name} {
        font-size: map-get($font-sizes , base );
        background: transparent;
        border: 1px solid $color;
        padding: $spacing-base*1.5 $spacing-base*3 ;

        &:hover{
            background: $color-primary;
            color: $color-light;
        }
    }

    .link-#{$name} {
        a{  color: $color;}
    }

    .hover-bg-#{$name} {
        a{  
            display: block;
            &:hover{
                opacity: 1;
                background: $color;
                color: $color-light;
            }
        }
        
    }
}


