.h2{
  font-size: map-get($font-sizes, 2 );
  font-weight: map-get($font-weights , bold);
  text-align: center;
  color: $color-secondary;
  
  @include mobile{
    font-size: map-get($font-sizes, 7 );
  }
}

@each $name, $color in $font-weights{
  .fw-#{$name} {font-weight:$color;}
}

.text-italic{
  font-style: italic;
}

/*text-color*/

@each $name, $color in $colors {
    .text-#{$name} { color: $color;}
    .a-#{$name} {
        a{ color: $color;}
      }
    .hover-#{$name} {
      a:hover{ 
        color: $color;
        opacity: 1;
      }
    }
}

@each $name, $color in $font-sizes {
    .fs-#{$name} {
      font-size: $color;
    }
}

@each $name, $color in $text-aligns {
  .text-#{$name} {
    text-align: $color;
  }
}

@include desktop(){
  @each $name, $color in $font-sizes {
    .fs-lg-#{$name} {
      font-size: $color;
    }
  }
}

@include pad(){
  @each $name, $color in $font-sizes {
    .fs-md-#{$name} {
      font-size: $color;
    }
  }

  @each $name, $color in $text-aligns {
    .text-md-#{$name} {
      text-align: $color;
    }
  }
}

@include mobile(){
  @each $name, $color in $font-sizes {
    .fs-sm-#{$name} {
      font-size: $color;
    }
  }

  @each $name, $color in $text-aligns {
    .text-md-#{$name} {
      text-align: $color;
    }
  }
}


.lh{
  &-1{line-height: 1;}
  &-1.25{ line-height: 1.25;}
}

.page-tt{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
    background: $color-primary;
  }

  padding-left: $spacing-base * 4;
  font-size: map-get($font-sizes, 2 );
  font-weight: map-get($font-weights , bold );

  @include mobile(){
    font-size: map-get($font-sizes, 7 );
  }
}





